# ======================================
# PYTHON
# ======================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ======================================
# VIRTUAL ENVIRONMENTS
# ======================================

.venv/
venv/
env/

# ======================================
# GENERATED DATASETS
# ======================================

data/
datasets/
lots_of_code/

# ======================================
# TRAINED MODELS
# ======================================

artifacts/*.pth

# tokenizer залишаємо
# artifacts/*.json

# ======================================
# LOGS
# ======================================

logs/

# ======================================
# CACHE / TEMP
# ======================================

tmp*
*.tmp
temp/
tmp/

# ======================================
# JUPYTER
# ======================================

.ipynb_checkpoints/

# ======================================
# TEST / COVERAGE
# ======================================

.coverage
htmlcov/
.pytest_cache/

# ======================================
# IDE
# ======================================

.idea/
.vscode/

# ======================================
# OS FILES
# ======================================

.DS_Store
Thumbs.db

# ======================================
# NIX
# ======================================

.direnv/
result/

# ======================================
# BUILD
# ======================================

build/
dist/
*.egg-info/

# ======================================
# NODE / REACT / VITE
# ======================================

node_modules/
src/node_modules/
frontend/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================================
# ENV FILES
# ======================================

.env
.env.*

# ======================================
# HF / CACHE
# ======================================

.cache/
.huggingface/

# ======================================
# PYTORCH
# ======================================

*.pt
*.ckpt
*.onnx

# ======================================
# SQLITE
# ======================================

*.db
*.sqlite3