# ======================================

# PYTHON

# ======================================

**pycache**/
*.pyc
*.pyo
*.pyd

# ======================================

# VIRTUAL ENVIRONMENTS

# ======================================

.venv/
venv/
env/

# ======================================

# GENERATED DATASETS

# ======================================

data/
datasets/
lots_of_code/

# ======================================

# TRAINED MODELS

# ======================================

artifacts/*.pth

# tokenizer залишаємо

# artifacts/*.json

# ======================================

# LOGS

# ======================================

logs/

# ======================================

# CACHE / TEMP

# ======================================

tmp*
*.tmp

# ======================================

# JUPYTER

# ======================================

.ipynb_checkpoints/

# ======================================

# TEST / COVERAGE

# ======================================

.coverage
htmlcov/
.pytest_cache/

# ======================================

# IDE

# ======================================

.idea/
.vscode/

# ======================================

# OS FILES

# ======================================

.DS_Store
Thumbs.db

# ======================================

# NIX

# ======================================

.direnv/

# ======================================

# BUILD

# ======================================

build/
dist/
*.egg-info/
