# =========================
# CORE ML
# =========================
torch>=2.2.0
numpy>=1.26.0
pandas>=2.2.0

# =========================
# TOKENIZER
# =========================
tokenizers>=0.15.0

# =========================
# METRICS
# =========================
scikit-learn>=1.4.0

# =========================
# OPTIONAL DATASETS
# =========================
datasets>=2.18.0

# =========================
# VISUALIZATION
# =========================
matplotlib>=3.8.0

# =========================
# GUI
# =========================
tk

# =========================
# UTILITIES
# =========================
tqdm>=4.66.0